body{
	background: #34495e;
	font-family:Arial;
	
}
table{
	left:33%;
}
tr{
	text-align:center;
}
td{
	text-align:center;
}
img
{
	width:80px;
	
	
}
a{
	
	text-decoration: none;
  
	
	
}
input[type = "button"]{	
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width:200px;
	outline: none;
	color: white;
	border-radius:24px;
	transition: 0.25s;
    outline: none;
}
input[type = "button"]:hover{
	background: #2ecc71;
}
